{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <style type="text/css">
    </style>
{% endblock %}

{% block content %}

    <div class="white">
        <div class="row" style="margin-bottom: 0px">
            <div class="col m3">
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content" style="padding: 5px;">
                        <h3 class="header center red-text">Access Denied</h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row center" style="margin-bottom: 0px">
                <h4 class="header col s12 light">Contact the admin!</h4>
            </div>
        </div>

    </div>

{% endblock %}