{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}

<h1>Welcome Django Unifi Portal</h1>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Welcome Django Unifi Portal</h1>
      <div class="row center">
        <h5 class="header col s12 light">You've got 60 minutes of free navigation!</h5>
      </div>
      <div class="row center">
          <img src ="{%  static 'img/freewifi.png' %}">
      </div>
      <br><br>

    </div>
  </div>
{% endblock %}