{% extends 'base_form.html' %}
{% load material_form %}
{% load static %}

{% block extrahead %}
<style type="text/css">
    {{ form.css }}
</style>
{% endblock %}

{% block formclass %}{{ form.blockclass|default:"col s12 m8 offset-m2 l8 offset-l2" }}{% endblock %}

{% block formtitle %}  <h4 style='text-align:center'>{{ form.title }}</h4>{% endblock %}

{% block formbody %}

    {% include form.logo %}

    {% include form.social_buttons %}

    <h5 style="text-align:center">or</h5>

    {% include form.template %}
{% endblock %}

{% block formbuttons %}

    {% include form.buttons %}

    <div class="row left-align" style="margin-top:10px">
        <div class="ol s12 required" id="id_terms_accepted_container">
            <label>If you click "Log in with Facebook" and are not a user, you will be registered and you agree to Terms & Conditions and Privacy Policy.</label>
        </div>
    </div>

{% endblock %}